h3 {
  color:blue;
  
}
h1 {
  text-align:center;
}
header {
  margin:auto;
  background-color:gray;
  border:none;
  border-radius:5%;
}
a {
  text-decoration:none;
}
title {
  color:red;
}
#linkin {
  text-decoration:none;
}
